[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis). It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=unreal

[MASTER]
disable=
    C0103,  # invalid-name (for Content/Python UE requirement )
    C0114,  # missing-module-docstring
    C0415,  # import-outside-toplevel
    C0115,  # missing-class-docstring
    R0801,  # duplicate-code
    R0903,  # too-few-public-methods
